<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="developerstudio"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="developer-studio">
         <property
               name="appName"
               value="developer-studio">
         </property>
          <property
           name="lifeCycleURI"
           value="bundleclass://org.wso2.developerstudio.rcp.plugin/org.wso2.developerstudio.rcp.plugin.LifeCycleManager">
         </property>
      </product>
   </extension>
   <extension
         id="devstudio"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.ui.ide.workbench"
            name="developer-studio">
         <property
               name="appName"
               value="developer-studio">
         </property>
         <property
           name="lifeCycleURI"
           value="bundleclass://org.wso2.developerstudio.rcp.plugin/org.wso2.developerstudio.rcp.plugin.LifeCycleManager">
         </property>
      </product>
   </extension>
</plugin>
